/*---------------------------------------------------------------------------hero-----------------------------------------------------*/

.hero {
  width: 100%;
  max-width: 1440px;
  height: 728px;
  background-color: rgba(0, 41, 83, 0.8);
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

/*---------------------------------------------------------------------------header-navigation-----------------------------------------------------*/

.dropdown-header-navigation {
  width: 100%;
  max-width: 1440px;
  height: 80px;
  border-bottom: 1px solid white;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  width: 100%;
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
}

.header-container {
  width: 100%;
  max-width: 1440px;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding: 0 32px;
  margin: 0 auto;
}

.company-logo {
  padding-top: 12px;
}

.navigation {
  width: 100%;
  max-width: 1030px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
}

.nav-links {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  font-size: 15px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.resource {
  display: flex;
  gap: 20px;
}

.dropdown-icon {
  padding-top: 2px;
}

/*-----------------------------------------------------------------------Container----------------------------------------------------------------------*/

.hero-container {
  width: 100%;
  max-width: 1120px;
  height: 264px;
  margin: 232px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  width: 100%;
  max-width: 1120px;
  height: 264px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heading-and-supportive-text {
  width: 1120px;
  height: 156px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  width: 1120px;
  height: 72px;
  color: white;
  line-height: 72px;
  font-size: 50px;
}

p{
  width: 768px;
  height: 60px;
  color: white;
  line-height: 30px;
  size: 20px;
  align-self: center;
  justify-content: center;
}

.catalog-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid rgba(255, 229, 0, 1);
  padding: 16px 28px 16px 28px;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  transition: transform 0.4s ease, box-shadow 0.4s ease; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  cursor: pointer;
}
.catalog-btn:hover {
  transform: scale(1.05); /* Scale up slightly on hover */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Slightly larger shadow on hover */
}

/*----------------------------------------------------------------------------Feature------------------------------------------------------------------*/

.feature-section{
  width: 100%;
  max-width: 1440px;
  height: 957px;
  gap: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature-container{
  width: 100%;
  max-width: 1120px;
  height: 120px;
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-content{
  width: 100%;
  max-width: 1056px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-heading-and-supportive-text{
  width: 100%;
  max-width: 768px;
  height: 120px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.feature-heading{
  width: 768px;
  height: 40px;
}
.feature-heading h1{
  color: black;
  size: 32px;
}
.feature-support-text p {
  color: black;
}


.feature-row{
  width: 100%;
  max-width: 1110px;
  height: 597px;
  gap:27px;
  display: flex;
  flex-direction: row;
}
.campaign-card{
  width: 352px;
  height: 597px;

}

.image-placeholder img{
  width: 352px;
  height: 352px;
  border-radius: 21.8px 21.8px 0px 0px;
}

.testimonial h4{
  width: 233px;
  height: 27px;
  margin-top: 20px;
  margin-left: 32px;
  line-height: 27px;
  color: rgba(36, 39, 46, 1);
  ;
}

.testimonial p{
  width: 290px;
  height: 105px;
  margin-top: 20px;
  margin-left: 32px;
  color: rgba(124, 125, 130, 1);
  font-size: 14px;
  line-height: 21px;
}

.link{
  margin-top: 25px;
  margin-left: 24px;
}
.learn-more {
  width: 116px;
  height: 24px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: rgba(29, 111, 163, 1);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.learn-more:hover {
  color: rgba(0, 41, 83, 0.8);;
  transform: scale(1.05);
}


/*================================================================================Who we are==========================================================*/
.whoWeAre{
  width: 100%;
  max-width: 1440px;
  height: 1314px;
  background-color: rgba(255, 255, 255, 1);
  padding: 96px ;
  gap: 64px;
  display: flex;
  flex-direction: row;
}

.whoWeAre-content{
  width: 368px;
  height: 402px;
  gap:48px;
}


.whoWeAre-heading{
  width: 368px;
  height: 330px;
  display: flex;
  flex-direction: column;
  gap:20px;
}

.whoWeAre-heading h2{
  width: 368px;
  height: 40px;
  gap: 12px;
}

.whoWeAre-heading p{
  width: 368px;
  height: 270px;
  font-size: 18px;
  line-height: 27px;
  color: rgba(80, 82, 88, 1);
  text-align: justify;
}

.see-more {
  margin-top: 30px;
  width: 101px;
  height: 24px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: rgba(29, 111, 163, 1);
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.see-more:hover {
  color: rgba(0, 41, 83, 0.8);;
  transform: scale(1.05);
}

.whoWeAre-images{
  width: 668px;
  height: 1122px;
  gap: 32px;
  display: flex;
  flex-direction: row;
}

.column1{
  width: 328px;
  height: 982px;
  display: flex;
  flex-direction: column;
  gap:40px;
}

.column2{
  width: 328px;
  height: 982px;
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  gap:40px;
}

.image-container{
  width: 100%;
  height: 471px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  border-radius: 16px;
}

.image-container img{
  width: 100%; 
  height: 415px;
  border-radius: 16px;
  object-fit: cover; 
  overflow: hidden;
  transition: transform 0.5s ease; 
}

.image-container:hover img {
  overflow: hidden;
  transform: scale(1.1);
}

.whoWeAre h4{
  color: rgba(36, 39, 46, 1);

}

/*=====================================================================================IDENTITY=========================================================*/

.identity{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame{
  width: 100%;
  max-width: 1157px;
  height: 40px;
  gap: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.identity-logo{
  width: 114px;
  height: 37.48px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logoMark{
  width: 34.36px;
  height: 34.36px;
}

.logoType p{
  width: 68.13px;
  height: 20.86px;
  color: rgb(16, 24, 40);
  font-weight: bold;
  display: flex;
  text-align: center;
  align-items: center;
}

/*-------=========================================================NEWS+===========================================================================*/

.news{
  max-width: 1440px;
  height: 1353px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  width: 100%;
  max-width: 1109px;
  height: 1193px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper p{
  width: 613.67px;
  height: 54px;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  color: rgba(80, 82, 88, 1);
}

.item{
  width: 1109px;
  height: 959px;
  gap: 10px;
  display:flex;
  flex-direction: column;
}

.row{
  width: 1109px;
  height: 470px;
  display: flex;
  flex-direction: row;
}

.newsCard{
  width: 357px;
  height: 470px;
  border-radius: 20px;
}

.newsContainer{
  width: 356.91px;
  height: 469.13px;
  border-radius: 24px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsImage{
  width: 315px;
  height: 201px;
  border-radius: 16px;
  overflow: hidden;
}

.newsImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.newsContainer h4{
  width: 315px;
  height: 72px;
  line-height: 36px;
  font-size: 22px;
}

.newsContainer p{
  width: 315px;
  height: 81px;
  line-height: 24px;
  font-size: 15px;
  color: rgba(80, 82, 88, 1);
  text-align: left;
}

.news-learn-more {
  margin-left: 14px;
  width: 116px;
  height: 24px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  gap: 8px;
  color: rgba(29, 111, 163, 1);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  align-self: flex-start;
}

.news-learn-more:hover {
  color: rgba(0, 41, 83, 0.8);;
  transform: scale(1.05);
}

.viewAllNews{
  width: 135px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid rgba(29, 111, 163, 1);
  padding: 10px 16px 10px 16px;
  gap: 10px;
}

.viewAllNews p{
  width: 103px;
  height: 24px;
  font: Dm Sans;
  font-size: 14px;
  line-height: 24px;
  color: rgba(36, 39, 46, 1);
}



@media (max-width: 1024px) {
  .header-container {
    padding: 0 16px;
  }

  .container {
    padding: 0 80px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    gap: 16px;
  }

  .container {
    padding: 0 40px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 20px;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }
}
